<section id="about" class="hidden">
    <h1>About</h1>
    <h2>Thanks</h2>
    <p>This game was developed by the Open Data Institute based upon a tutorial written by <a href="https://www.linkedin.com/in/stephaniejyee/" target="_blank">Stephanie Yee</a> and <a href="https://www.linkedin.com/in/tonyhschu/" target="_blank">Tony Chu</a> which you can find at <a href="http://www.r2d3.us/" target="_blank">r2d3.us</a><div class=""></div>
    <h2>Customise your own version</h2>
    <p>If you wish to talk to us about developing a version of the game for your organisation then please <a href="mailto:bizdev@theodi.org?subject=Enquiry%20about%20machine%20learning%20game">get in touch</a>.</p>
    <h2>Report a bug/enhancement</h2>
    <p>You can report bugs via the Github issues page <a href="https://github.com/theodi/classification-game/issues" target="_blank">here</a>.</p>
</section>