<section id="charts" class="hidden">
    <h1>Chart view</h1>
    <p>You can change the chart type and what is plotted using the options.</p>
    <canvas id="myChart" class="chart__widget component__widget" width="800" height="400" style="max-width:800px; max-height:400px;"></canvas>
    <div id="axisSelections" style="display: block;">
        <div id="xAxisSelector" class="axis-selector">
        <label for="xAxis">X-Axis:</label>
        <select id="xAxis">
            <!-- Options will be dynamically added based on selected chart type -->
        </select>
        </div>
        <div id="yAxisSelector" class="axis-selector">
        <label for="yAxis">Y-Axis:</label>
        <select id="yAxis">
            <!-- Options will be dynamically added based on selected chart type -->
        </select>
        </div>
        <div id="pointColorSelector" class="axis-selector">
        <label for="pointColor">Point/Bar colour:</label>
        <select id="pointColor">
            <!-- Options will be dynamically added based on selected chart type -->
        </select>
        </div>
        <div id="binCountSelector" class="bin-selector">
        <label for="binCount">Bin Count:</label>
        <input type="number" id="binCount" min="1" max="10" value="5">
        </div>
    </div>
    <div id="chartType" class="chart-type-selector">
        <button class="chart-button boxplot-chart" data-chart-type="boxplot">
            <span class="icon"><img src="/assets/boxplot-chart-icon.png"/></span>
            <span class="title">Boxplot</span>
        </button>
        <button class="chart-button scatter-chart" data-chart-type="scatter">
            <span class="icon"><img src="/assets/scatter-chart-icon.png"/></span>
            <span class="title">Scatter</span>
        </button>
        <button class="chart-button histogram-chart" data-chart-type="histogram">
            <span class="icon"><img src="/assets/histogram-chart-icon.png"/></span>
            <span class="title">Histogram</span>
        </button>
    </div>
</section>