<section id="leaderboards" class="hidden">
    <h1>Leaderboards (your results in red)</h2>
    <leaderboard id="session">
      <h3>Session leaderboard</h3>
      <table id="session-leaderboard" class="display responsive wrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Attempt</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody id="session-leaderboard-body">
        </tbody>
       </table>
    </leaderboard>
    <leaderboard id="organisation">
      <h3>Organisation leaderboard</h3>
      <table id="organisation-leaderboard" class="display responsive wrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Attempt</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody id="organisation-leaderboard-body">
        </tbody>
      </table>
    </leaderboard>
    <leaderboard id="public">
      <h3>Overall leaderboard</h3>
      <table id="public-leaderboard" class="display responsive wrap" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Attempt</th>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody id="public-leaderboard-body">
        </tbody>
      </table>
    </leaderboard>
  </section>