<section id="instructions">
    <h1>Instructions</h1>
    <h2 id="playerWelcome" style="display: none;"></h2><span id="changeName" style="font-size: 0.8em;">  (<a href="#" onClick="changeName()">Change name</a>)</span>
    <h3>Can you beat the machine learning system? or other players?</h3>
    <p>Your challenge is to create a decision tree that you think can successfully classify properties as either being in New York or San Francisco. Your decision must be based upon a limited number of characteristics.</p>
    <h4>Building your decision tree</h4>
    <p>You can build your tree via the <a href="#training" class="toggle-link" style="text-decoration: underline;">build your model</a> page.</p>
    <p>In order to help build your decision tree, you have been provided a data set (the training set) containing 10 properties in San Francisco and 10 in New York.</p>
    <p>You can drag the cards around the screen to help you build the tree or use the <b>Run model</b> button to apply your tree to the cards.</p>
    <h4>Exploring the data</h4>
    <p>There are a couple of different ways you can explore the data so you can discover which factors and boundaries be best applied in the decision tree.</p>
    <p><ul>
        <li><b>Table view</b>: Available via the <a href="#table" class="toggle-link">Download training data</a> navigation option. As well as being able to download the data in CSV format, you also browse and sort the data in a tabular view.</li>
        <li><b>Chart view</b>: Available via the <a href="#charts" class="toggle-link">Explore training data</a> navigation option. Here you can visually explore the data using boxplots, histograms and scatter plots.
    </ul></p>
    <h3>Evaluating your decision tree</h3>
    <p>Use the <a href="#evaluation" class="toggle-link" style="text-decoration: underline;">evaluation set</a> to see if your tree works. You can select your own set of evaluation cards or generate 20 random cards.</p>
    <p>Good luck!</p>
</section>