<section id="instructions">
    <h1>Instructions</h1>
    <h2 id="playerWelcome" style="display: none;"></h2><span id="changeName" style="font-size: 0.8em;">  (<a href="#" onClick="changeName()">Change name</a>)</span>
    <h3 style="color: #0bf6;">Can you beat the machine learning system? or other players?</h3>
    <p>Your challenge is to create a decision tree that you think can successfully classify properties as either being in New York or San Francisco. Your decision must be based upon a limited number of characteristics.</p>
    <h4>Building your decision tree</h4>
    <p>In order to help build your decision tree, you have been provided a <a href="#" onClick="selectSet('training');" style="text-decoration: underline;">training set</a> with details of 10 properties in San Francisco and 10 in New York.  Use the data to decide on your factors and boundaries that you think will solve the challenge. <br/><br/>You can drag the cards around the screen to help you build the tree or use the <b>Run model</b> button to apply your tree to the cards. The training set can also be downloaded as a CSV if you wish to do some analysis of the data in your favorite spreadsheet application (e.g. Excel).</p>
    <b>Buttons</b>
    <ul>
    <li><b>Download cards (csv): </b> Download the training data in CSV format for use in a spreadsheet application.</li>
    <li><b>Download cards (pdf): </b> Download the training data cards in PDF format for printing.</li>
    <li><b>Reset cards: </b> Moves the cards back into the panel after an evaluation.</li>
    <li><b>Reset tree: </b> Blanks the tree so you can start again fresh.</li>
    <li><b>Run model: </b> Try your tree with the cards.</li>
    </ul>

    <h3>Evaluating your decision tree</h3>
    <p>Use the <a href="#" onClick="selectSet('evaluation');" style="text-decoration: underline;">evaluation set</a> to see if your tree works. You can select your own set of evaluation cards or generate 20 random cards.</p>
    <p>Good luck!</p>
</section>