<section id="test" class="hidden">
    <div id='test-set' class="invisbox-small">
      <div id="buttons" style="width: 100%">
        <!--<button type="button" name="evaluation-button" onClick="startInputPurple();">Add card</button>
        <button type="button" id="fill-purples" name="fill-button" onClick="getRandomPurples(20);">Fill random</button>
        <button type="button" id="remove-purples" name="remove-button" onClick="removeCards(cards.testSet,'p');" style="display: none;">Remove all</button>-->
        <button type="button" name="returnTrainingData" onClick="returnCards(cards.testSet,'test-set','p');" title="Move the cards from the tree back into the top panel.">Reset cards</button>
        <button type="button" class="model-button" name="runEvaluationData" onClick="sortCards(cards.testSet,'p');" title="Try your tree with the cards">Run model</button>
      </div>
    </div>
</section>