HOST=mlgame.local.org
MONGO_URI=mongodb://localhost:27017/ClassificationGame
MONGO_DB=ClassificationGame
SSLKEY=key.pem
SSLCERT=cert.pem
PORT=8000
SECUREPORT=3443
GOOGLE_CLIENT_ID=abcdefghijklmnopqrstuvwxyz.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=TOP-SECRET
