.decision_l, .decision_r, .decision_ll, .decision_lr, .decision_rl, .decision_rr {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
#factor_l, #factor_r, #factor_ll, #factor_lr, #factor_rl, #factor_rr {
  margin-left: auto;
  margin-right: auto;
}
.conditions input {
  max-width: 100px;
  display: inline;
}
.browseButton {
  position: relative;
  bottom: 67px;
  float: right;
  z-index: 100;
}
.prediction {
  display: flex;
  padding-top: 10px;
}
.prediction label {
  margin-right: 10px;
  padding-top: 10px;
  display: inline-block;
}
.prediction select {
  display: inline-block;
}
condition label {
  font-size: 1.5em;
  display: inline;
}
condition, .condition .invisbox-fill {
  text-align: center;
  width: 100%;
}
condition input {
  max-width: 100px;
  display: inline;
}
.condition-left {
  text-align: right;
}
.condition-left img {
  padding-right: 15px;
}
.condition-right {
  text-align: left;
}
.condition-right img {
  padding-left: 15px;
}
.arrows {
  position: relative;
  top: -0.7em;
  margin-bottom: -1em;
}
.arrows div {
    padding: 0px;
    margin: 0px;
    max-height: 1.7em;
}
.arrows .invisbox-fill {
    text-align: center;
    padding: 0px;
    margin: 0px;
    max-height: 1.7em;
    background-color: #0000;
}
.arrow {
  max-width: 3em;
  max-height: 2em;
}
.factor {
  margin-left: auto;
  margin-right: auto;
}
.add-branch {
  color: var(--outline);
}

/* Card boxes - where cards drop */
.cardbox {
  height: 300px;
  max-height: 300px;
  overflow-y: hidden;
  border: 2px solid white;
  width:100%;
  text-align: left;
}
.cardbox card {
  left: 20px;
  position: relative;
}
.cardbox card:nth-child(2) {
  top: -0px;
}
.cardbox card:nth-child(3), .cardbox card:nth-child(4){
  top: calc(calc(-215px * 1));
}
.cardbox card:nth-child(5), .cardbox card:nth-child(6){
  top: calc(calc(-215px * 2));
}
.cardbox card:nth-child(7), .cardbox card:nth-child(8){
  top: calc(calc(-215px * 3));
}
.cardbox card:nth-child(9), .cardbox card:nth-child(10){
  top: calc(calc(-215px * 4));
}
.cardbox card:nth-child(11), .cardbox card:nth-child(12){
  top: calc(calc(-215px * 5));
}
.cardbox card:nth-child(13), .cardbox card:nth-child(14){
  top: calc(calc(-215px * 6));
}
.cardbox card:nth-child(15), .cardbox card:nth-child(16){
  top: calc(calc(-215px * 7));
}
.cardbox card:nth-child(17), .cardbox card:nth-child(18){
  top: calc(calc(-215px * 8));
}
.cardbox card:nth-child(19), .cardbox card:nth-child(20){
  top: calc(calc(-215px * 9));
}

.cardbox-thin {
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  width:100%;
  text-align: left;
  border: 2px solid white;
  margin-bottom: -22px;
}

.cardbox-thin card {
  left: 20px;
  position: relative;
}
.cardbox-thin card:nth-child(2) {
  top: calc(calc(-215px * 1));
}
.cardbox-thin card:nth-child(3) {
  top: calc(calc(-215px * 2));
}
.cardbox-thin card:nth-child(4) {
  top: calc(calc(-215px * 3));
}
.cardbox-thin card:nth-child(5) {
  top: calc(calc(-215px * 4));
}
.cardbox-thin card:nth-child(6) {
  top: calc(calc(-215px * 5));
}
.cardbox-thin card:nth-child(7) {
  top: calc(calc(-215px * 6));
}
.cardbox-thin card:nth-child(8) {
  top: calc(calc(-215px * 7));
}
.cardbox-thin card:nth-child(9) {
  top: calc(calc(-215px * 8));
}
.cardbox-thin card:nth-child(10) {
  top: calc(calc(-215px * 9));
}
.cardbox-thin card:nth-child(11) {
  top: calc(calc(-215px * 10));
}
.cardbox-thin card:nth-child(12) {
  top: calc(calc(-215px * 11));
}
.cardbox-thin card:nth-child(13) {
  top: calc(calc(-215px * 12));
}
.cardbox-thin card:nth-child(14) {
  top: calc(calc(-215px * 13));
}
.cardbox-thin card:nth-child(15) {
  top: calc(calc(-215px * 14));
}
.cardbox-thin card:nth-child(16) {
  top: calc(calc(-215px * 15));
}
.cardbox-thin card:nth-child(17) {
  top: calc(calc(-215px * 16));
}
.cardbox-thin card:nth-child(18) {
  top: calc(calc(-215px * 17));
}
.cardbox-thin card:nth-child(19) {
  top: calc(calc(-215px * 18));
}
@media screen and (max-width: 1400px) {
  .cardbox {
    padding-left: 2%;
  }
  .cardbox-thin {
    padding-left: 0.5%;
    padding-top: 0.5%;
  }
}
@media screen and (max-width: 1300px) {
  .cardbox {
    padding-left: 0.5%;
  }
}

/* Decision tree container */

#container {
  width: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
  border-radius: 7px;
  touch-action: none;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 0 6.5rem;
  background-color: var(--bgbody);
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}
.flex-container .invisbox-tiny {
  background-color: var(--bgbody);
  width: 4%;
  text-align: center;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.flex-container .invisbox-small {
  background-color: var(--bgbody);
  max-width: 33%;
  width: 33%;
  text-align: left;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.flex-container .invisbox {
  background-color: var(--bgbody);
  max-width: 50%;
  width: 50%;
  text-align: left;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.flex-container .invisbox-big {
  background-color: var(--bgbody);
  max-width: 67%;
  width: 67%;
  text-align: left;
  padding: 10px;
}

.flex-container .invisbox-fill {
  background-color: var(--bgbody);
  max-width: 22%;
  width: 22%;
  text-align: left;
  padding: 10px;
}
.user {
  color: red;
}