<%- include('../../partials/header') %>
<div class="container box">
    <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-lock"></span>View session leaderboard</h1>
    </div>
    <p>
        This page will show:
    </p>
    <ol>
        <li>The current best/worst/average rusults againt others players</li>
        <li>The top 10 with names anonymised</li>
        <li>Percentage of people (%) with a 100% confident model</li>
        <li>Percentage of people who beat stoopid AI</li>
        <li>Percentage of people who beat trained AI</li>
    </ol>
     <p><b>This page will also show the complete leaderboard in non-anonymised form</b></p>
</div>
<%- include('../../partials/footer') %>